$utilities: map-merge($utilities, (
  "height-pixels": (
    property: height,
    class: h,
    responsive: true,
    // state: hover,
    values: $stepPxs
  ),
  "height-percentage": (
    property: height,
    class: h-pr,
    responsive: true,
    // state: hover,
    values: $stepPercents
  ),
  "min-height": (
    property: min-height,
    class: mn-h,
    responsive: true,
    // state: hover,
    values: $stepPxs
  ),
  "height-viewport": (
    property: height,
    class: hv,
    responsive: true,
    // state: hover,
    values: $stepViewport
  ),
  "height-device-viewport": (
    property: height,
    class: hdv,
    responsive: true,
    // state: hover,
    values: $stepDeviceViewport
  ),
  "max-height": (
    property: max-height,
    class: mx-h,
    responsive: true,
    // state: hover,
    values: $stepPxs
  ),
  "height-quick": (
    property: height,
    class: h,
    responsive: true,
    // state: hover,
    values: (
      "a": auto,
      "f": 100%
    )
  )
));
