$utilities: map-merge($utilities, (
  "visibility": (
    property: visibility,
    class: v,
    responsive: true,
    state: hover,
    values: (
      hid: hidden,
      vis: visible,
    )
  ),
));
