@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
  letter-spacing: -0.022em;
}

input {
  background: transparent;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
}

a {
  color: inherit;
  text-decoration: inherit;
  cursor: pointer;

  &:hover {
    color: $primary;
  }
}

.cp {
  cursor: pointer;
}